<p class="badges">
  <a href="https://indieweb.org/" rel="noopener"><img src="{{ '/images/badges/indieweb.png' | url | relative }}" alt="IndieWebCamp" style="image-rendering: pixelated;" width="80" height="15"></a>
  <a href="http://microformats.org/" rel="noopener"><img src="{{ '/images/badges/microformats.png' | url | relative }}" alt="Microformats" style="image-rendering: pixelated;" width="80" height="15"></a>
  <a href="http://microformats.org/wiki/hcard" rel="noopener"><img src="{{ '/images/badges/microformat_hcard.png' | url | relative }}" alt="Microformat Hcard" style="image-rendering: pixelated;" width="80" height="15"></a>
  <a href="https://indieweb.org/Webmention" rel="noopener"><img src="{{ '/images/badges/webmention.png' | url | relative }}" alt="Webmention" style="image-rendering: pixelated;" width="80" height="15"></a>
  <a href="https://www.w3.org/html/" rel="noopener"><img src="{{ '/images/badges/w3c-valid-html.png' | url | relative }}" alt="W3C HTML5" style="image-rendering: pixelated;" width="80" height="15"></a>
  <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="noopener"><img src="{{ '/images/badges/cc-commons.png' | url | relative }}" alt="Creative Commons" style="image-rendering: pixelated;" width="80" height="15"></a>
</p>
