<h3>He is found online @</h3>
<div class="contact">
  <nav id="contact">
    <a rel="me authn" href="mailto:hello@johanbove.info" class="email p-email u-email" itemprop="email">hello@johanbove.info</a>

    <a rel="me" title="My Representative H-Card" href="https://johanbove.info/#me" class="url u-url u-uid">Visit my H-Card</a>

    <a rel="me" href="https://social.johanbove.info" class="u-url" itemprop="sameAs" title="My own social-media site">social.johanbove.info</a>

    <a rel="me" type="text/directory" href="https://johanbove.info/twtxt.txt" class="u-url" itemprop="sameAs" title="My Twtxt Feed">My <abbr title="Tweet Text">twtxt</abbr> Feed</a>

    <a rel="noopener" href="https://webchat.freenode.net/">jbove@<abbr title="Internet Relay Chat">IRC</abbr></a>
    
    <a rel="me" href="ssb://@4XHLGF4UDOGiS5oqiDUjN97cKVBExloikIIGMiNjHq0=.ed25519" class="u-url"
      itemprop="sameAs">@Johan@<abbr title="Secure Scuttlebutt is a peer-to-peer technology">ssb</abbr></a>
    
      <!-- currently lost in hyperspace
    <a rel="me" href="hyper://86fcdeb5ebb4a720f4e5b66fbab67a8051ddf09659cd2622cdeb0de8c4d41267" class="u-url"
      itemprop="sameAs"><abbr title="Hyperdrive is a peer-to-peer technology">Johan@Hyperdrive</abbr></a>
        -->
      
    <a rel="me noopener" href="https://github.com/johanbove" class="u-url" itemprop="sameAs">@johanbove@github.com</a>

    <a rel="me noopener" href="https://twitter.com/@johanbove" class="u-url" itemprop="sameAs">@johanbove@twitter.com</a>

    <a rel="me noopener" href="https://keybase.io/johanbove" class="u-url" itemprop="sameAs">@johanbove@keybase.io</a>

    <a rel="me noopener" href="https://johanbove.inrupt.net/profile/card#me" class="u-url" itemprop="sameAs">@johanbove@inrupt.net</a>

    <a rel="me noopener" href="https://matrix.to/#/@jbove:matrix.org" class="u-url" itemprop="sameAs">@jbove:matrix.org</a>

    <a rel="me" href="gemini://gem.johanbove.info" title="Gemini is the new light weight Internet protocol">My Gemini Capsule</a>
      
    <a rel="noopener" type="text/directory" href="http://h2vx.com/vcf/johanbove.info">Download as vCard</a>
  </nav>
</div>
