<footer role="contentinfo">
  {% include "_footprint.njk" %}
  {% include "_webrings.njk" %}
  {% include "_legal.njk" %}
  {% include "_mirrors.njk" %}
  {% include "_badges.njk" %}
  {% include "_lastmodified.njk" %}
</footer>
