<p class="footprint">
  <span title="PGP">🔑</span> <a href="{{ site.author.pgp.publicKey | url | relative }}" title="My PGP public key for sending my signed e-mail" rel="pgpkey authn" class="hash">{{ site.author.pgp.fingerPrint }}</a>
</p>
