<link rev="owner" href="{{ site.author.name }}">
<link rel="pgpkey" href="{{ site.author.pgp.publicKey }}">
{# <link rel="alternate" href="/me.jsonld" type="application/ld+json"> #}
{% include "_meta-indieweb.html" %}
{% include "_meta-og.njk" %}
{% include "_meta-twitter-card.njk" %}
