<p class="last-modified"><em title="Last modified">This page was last modified by <a href="{{ '/#me' | url | relative }}" class="p-author h-card">{{ site.author.name }}</a> on <a href="{{ post.url | url | relative }}">{{ page.date | dateToRfc3339 }}</a>.</em></p>
