<p class="legal">
  <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license noopener noreferrer"><abbr title="Attribution-ShareAlike 4.0 International">CC BY-SA 4.0</abbr></a>
  - <a href="{{ '/impressum.html' | url | relative }}" rel="impressum" title="Germany legal notice">Impressum</a>
  - <a href="{{ '/contact' | url | relative }}" rel="contact" title="Contact Johan Bové">Contact</a>
</p>
<p class="nocookies">
  No cookies or <a href="https://donttrack.us/" rel="noopener noreferrer">tracking tools</a> are used on this site.
</p>
