<p class="mirrors">
  <a href="https://ipfs.io/ipns/johanbove.info/" title="Find this site on the IPFS peer-to-peer network"><abbr title="Inter Planetary File System">IPFS</abbr> mirror</a>
  {# <a href="https:/johanbove.info/" title="Classic WWW site"><abbr title="Hypertext Transfer Protocol Secure">HTTPS</abbr> mirror</a> #}
  {# <a href="hyper://a3d4c5d54cf0c8f07b4c0ec9129f13e219da9738f1f4899545a4e508b82f9e85/" title="hyper://a3d4c5d54cf0c8f07b4c0ec9129f13e219da9738f1f4899545a4e508b82f9e85/" title="Find this site on a Hyperdrive on Beaker Browser"><abbr title="Beaker Browser Hyperdrive">Hyperdrive</abbr> mirror</a> #}
  <a href="{{ '/feed.xml' | url | relative }}" title="Subscribe to site updates with my Atom XML feed"><abbr title="Really Simple Syndication">RSS</abbr> Feed</a>
</p>
