<h3 class="profile__title"><em class="p-name fn" itemprop="name">Johan Bové</em> is a <span itemprop="jobTitle" class="category">Web Consultant</span> at <span itemprop="worksFor" class="logo--deloitte-digital org">Deloitte Digital</span></h3>
<div class="profile-loader loading">
  <div class="profile__avatar">
    <figure class="avatar">
      <img class="u-photo" src="{{ '/images/johanbove_200x200.jpg' | url | relative }}" alt="Johan Bové" itemprop="image" />
      <figcaption>A selfie of Johan Bové taken in Düsseldorf in 2017</figcaption>
    </figure>
  </div>
  <div class="profile__details">
    <p class="adr" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      <span class="location">He lives in <span itemprop="addressLocality" class="locality p-locality">Düsseldorf</span>,  <span class="country-name p-country-name">Germany</span></span>
      {# <span aria-hidden="true" class="time-of-day">
        <span aria-hidden="true">where it is currently +/- <strong id="current-temp"></strong> °C</span>
      </span> #}
      {# <span aria-hidden="true" class="profile-birthDate">He's <span class="number" id="profile-age"></span>.</span> #}
    </p>
  </div>
</div>
