<p class="indieweb-webring">
  <a href="https://xn--sr8hvo.ws/%F0%9F%93%B3%F0%9F%98%A7%F0%9F%91%95/previous" rel="noopener">←</a>
  Member of <em>IndieWeb</em> Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%93%B3%F0%9F%98%A7%F0%9F%91%95/next" rel="noopener">→</a>
</p>
