---
layout: plans
title: Plans listing
description: Johan's plans and ideas
changeFreq: weekly
---

<h2>Plans</h2>

<p>This is the overview of <a href="{{ '/#me' | url | relative }}" rel="author" class="p-author h-card">My</a> <em>public</em> plans. The content in this section is part of an "open - productivity" experiment. You can follow here what I'm up to and what I'm currently focussed on - most of the time. I reserve the right to withhold some of my projects from this page and work on these privately.</p>

<p><em><strong>Note:</strong></em> After migrating my plans to my new static html generator system, I lost all the "updates" timestamps since the system was using the "last modified" time stamp from the actual shtml files. This is why some updates in some plans are a bit off.</p>

